body {
  text-align: center;
}

h1 {
  margin: 20px auto;
}

input {
  margin: 10px;
}

#btnEnviar {
  margin: 20px auto;
}

#btnOrganizar {
  display: none;
  margin: 20px auto;
}
